extend layout
block content
    .items
        each item in items
            li
                a.img(href=item.href)
                    img(src=item.img)
                // mask
                .info
                    a.title(href=item.href)= item.title
                    p
                        i &#xe601;
                        span.anchor= item.anchor
                        i &#xe600;
                        span.people= item.people
                        i &#xe603;
                        span.gameType= item.gameType
end block
