xml
    ToUserName <![CDATA[#{toUser}]]>
    FromUserName <![CDATA[#{fromUser}]]>
    CreateTime #{createTime}
    MsgType <![CDATA[text]]>
    Content <![CDATA[#{content}]]>
    FuncFlag #{funcFlag}
